<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width ,initial-scale=1" >
        <title>Fantastic Events</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="CSS/font-awesome.css" rel="stylesheet">
        <link href="CSS/home.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid bg-secondary">
            <div class="container" >
                <div class="row">
                    <div class="col-6">
                        <p class="h1 text-light">Fantastic  Events</p>
                    </div>
                    <div class="col-6">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
                            <a class="navbar-brand" href="#"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                           <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item"><a class="nav-link  text-light" href="/login">Login</a></li>
                                    <li class="nav-item"><a class="nav-link  text-light" href="/register">Register</a></li>
                                    <li class="nav-item"><a class="nav-link  text-light" href="#contact">Contact Us</a></li>
                                    <li class="nav-item"><a class="nav-link  text-light" href="#about">About Us</a></li>
                                </ul>
                            </div>
                        </nav>
                            
                    </div>
                </div>
            </div>
            <div class="carousel slide" id="mycarousel" data-ride="carousel" data-interval="1500">
                <ul class="carousel-indicators">
                    <li data-slide-to="0" data-target="#mycarousel" class="active"></li>
                    <li data-slide-to="1" data-target="#mycarousel"></li>
                    <li data-slide-to="2" data-target="#mycarousel"></li>
                    <li data-slide-to="3" data-target="#mycarousel"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img src="Images/Convention-Centre.jpg" alt="event4">
                    </div>
                    <div class="carousel-item active">
                        <img src="Images/conference.webp" alt="event1">
                    </div>
                    <div class="carousel-item">
                        <img src="Images/images.jpg" alt="event2">
                    </div>
                    <div class="carousel-item">
                        <img src="Images/event4.jfif" alt="event3">
                    </div>
                </div>
                </div>
        </div>
        <section class="container">
            <div class="row aims">
                <article class="col-12 col-md-4">
                    <p class="h3 text-dark">VALUES</p>
                    <p >Lorem ipsum dolor sit amet , ea doming until epicuri iudicabit nam , te usu virtute placerat.
                        Purto burte disputando cu est.</p>
                </article>
                <article class="col-12 col-md-4">
                    <p class="h3 text-dark">GOALS</p>
                    <p>Lorem ipsum dolor sit amet , ea doming until epicuri iudicabit nam , te usu virtute placerat.
                        Purto burte disputando cu est.</p>
                </article>
                <article class="col-12 col-md-4">
                    <p class="h3 text-dark">AIMS</p>
                    <p>Lorem ipsum dolor sit amet , ea doming until epicuri iudicabit nam , te usu virtute placerat.
                        Purto burte disputando cu est.</p>
                </article>
            </div>
            <hr/>
        </section>
        <a name="about"></a>
        <section class="container about"> 
            <p class="h2 text-dark">About Us</p>
            <p>Lorem ipsum dolor sit amet , ea doming until epicuri iudicabit nam , te usu virtute placerat.
                Purto burte disputando cu est.
                Lorem ipsum dolor sit amet , ea doming until epicuri iudicabit nam , te usu virtute placerat.
                Purto burte disputando cu est.
                Lorem ipsum dolor sit amet , ea doming until epicuri iudicabit nam , te usu virtute placerat.
                Purto burte disputando cu est.
                Lorem ipsum dolor sit amet , ea doming until epicuri iudicabit nam , te usu virtute placerat.
                Purto burte disputando cu est.
                Lorem ipsum dolor sit amet , ea doming until epicuri iudicabit nam , te usu virtute placerat.
                Purto burte disputando cu est.
                Lorem ipsum dolor sit amet , ea doming until epicuri iudicabit nam , te usu virtute placerat.
                Purto burte disputando cu est</p>
            </section>
            <hr class="container"/>
            <a name="contact"></a>
            <div class="container-fluid bg-dark Contact">
                <div class="container">
                    <p class="h4 text-light">Contact Us</p>
                </div>
                <div class="container ">
                    <div class="row text-secondary">
                        <div class="col-12 col-md-6">
                            <p>L orem ipsum dolor sit amet , ea doming until epicuri iudicabit nam , te usu virtute placerat.Purto burte disputando cu est.L orem ipsum dolor sit amet , ea doming until epicuri iudicabit nam , te usu virtute placerat.Purto burte disputando cu est.</p>
                            <p class = "info"><span >Email :</span>info@info.com<br>
                            <span>Phone :</span>123456789</p>
                        </div>
                        <div class="col-12 col-md-6">
                            <form>
                                <label>name *</label>
                                <input type="text" name ="name">
                                <label>E-mail address *</label>
                                <input type="email" name ="email">
                                <label>message *</label>
                                <textarea rows="8" cols="23"></textarea>
                                <button class="btn btn-light" type="submit">contact me</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="container-fluid bg-secondary text-center">
                <p class="h5 text-light"> Copy Right &copy; 2020</p>
            </footer>
        <script src="jquery.min.js"></script>
        <script src="JS/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>